REACT_APP_API_BASE_URL=http API base URL
REACT_APP_WS_BASE_URL=websocket API base URL

# DEV ENV ONLY
# `CHOKIDAR_USEPOLLING=true` forces react app to use polling to watch file changes.
# It isn't the optimal solution. There is a significant delay for hot reloading and higher CPU usage.
# False is default. If hot reload works fine there is no need to set this env to true.
